.home-Or-Portfolio-Selected{
  background-color: purple;
}

.coin-Or-Converter-Selected {
  background-color: purple;
}

.chart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 350px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.triangle-arrow {
  width: 12px;
}

.please-select-coin-wrapper{
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.5em;
}

.coin-list-title-container {
  display: flex;
}

.individual-coin {
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.change-percentage-wrapper{
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.positive-num {
  color: green;
}

.negative-num {
  color: red;
}

.coin-name-icon-wrapper {
  display: flex;
  align-items: center;
}

.coin-number-column-width{
  width: 40px;
  display: flex;
  /*justify-content: center;*/
  align-items: center;
}

.coin-column-width {
  width: 150px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.title-sort-button-wrapper {
  border: 1px solid white;
  width: 150px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.market-cap-change-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.total-circulating-supply-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.coin-data-width {
  width: 120px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.individual-coin-chart {
  width: 150px;
}

.result-list {
  position: absolute;
  color: black;
  top: 10px;
  width: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 0px 8px #ddd;
  margin-top: 1rem;
  max-height: 150px;
  overflow-y: scroll;
}

.search-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.coin-page-columns {
  display: flex;
  width: 900px;
}

.coin-page-column-1 {
  width: 25%;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coin-page-column-2 {
  width: 30%;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coin-page-column-3 {
  width: 45%;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px;
}

.ath-atl-container {
  display: flex;
  width: 100%;
}

.ath-column {
  border: 1px solid white;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.atl-column {
  border: 1px solid white;
  width: 50%;
}

.comparison-button{
  width: 120px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comparison-button-wrapper{
  display: flex;
  justify-content: right;
  align-items: right;
  margin-bottom: 20px;
}

.comparison-button.comparison-on{
  background-color: purple;
}

.slick-carousel {
  margin-top: 20px;
  margin-bottom: 20px;
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}

.single-slide-style {
  display: flex;
  align-items: center;
  /*background: grey;*/
  border-radius: 8px;
  padding: 8px;
}

.slide-icon-wrapper {
  width: 25%;
  padding-left: 10px;
}

.slide-content-wrapper {
  width: 75%;
  text-align: left;
  font-size: 0.7em;
}

.charts-coins-container {
  display: flex;
  justify-content: space-between;
}

.line-chart-wrapper {
  width: 50%;
  height: 350px;
  padding-right: 40px;
}

.bar-chart-wrapper {
  width: 50%;
  height: 350px;
  padding-left: 40px;
}

.color-indicator-coin-name-wrapper {
  display: flex;
  justify-content: space-between;
}

.coin-indicator-wrapper {
  display: flex;
  align-items: center;
}

.currency-selector{
  width: 400px;
  -webkit-appearance: none;
  appearance: none;
}

.currencySelectorWrapper {
  display: flex;
  justify-content: space-between;
}

.popup {
  color: black;
  padding: 20px;
  height: auto;
  width: 200px;
  position: fixed;
  top: calc(
    50% - 75px
  );
  right: calc(
    50% - 100px
  );
  background: white;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.selected-style {
  width: 200px;
  color: black;
}

.purchase-amount-input {
  background: white;
  color: black;
}

.portfolio-item {
  display: flex;
  align-items: center;
  padding: 10px;
}

.portfolio-item-column-1{
  border: 1px solid white;
  width: 200px;
}

.portfolio-item-coin-name-wrapper {
  border: 1px solid white;
  display: flex;
  align-items: center;
}

.portfolio-item-column-2{
  border: 1px solid white;
  display: flex;
}

.portfolio-item-column-2-child{
  width: 200px;
  padding: 15px;
  border: 1px solid white;
}

.portfolio-item-market-cap-volume-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-background {
  background-color: #13121A;
}

.button-text-color {
  color: white;
}

.page-max-width {
  max-width: 1440px;
}